# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicit text files
*.md text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.ts text eol=lf
*.js text eol=lf
*.txt text eol=lf

# Linguist overrides
schemas/*.json linguist-documentation=false
api/*.yaml linguist-documentation=false
docs/**/*.md linguist-documentation=true
